:root{
  box-sizing: border-box;

  --primary: #689f38;
  --primary-light: #99d066;
  --primary-dark: #387002;

  --secondary: #689f38;
  --secondary-light: #99d066;
  --secondary-dark: #387002;

  --key-gap: 3px;
}

body {
  background: #444;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

.container{
  position: relative;
  width: 800px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #949494;
}

#ui{
  background: linear-gradient(to right, transparent 0%, transparent 85%, #926060 85%, #987b7b 100%);
}

#game-canvas {
  display: block;
  margin: auto;
}

#game-container {
  margin: 0 auto;
  position: relative;
  height: 600px;
}

#pickup-canvas{
  border:1px solid #d3d3d3; 
  display: block; 
  margin: auto;
}

#ui-overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 36px;
  line-height: 1.25;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.75);
  padding: 15px;
}

.lives{
  letter-spacing: 2.5px;
  font-size: 26px;
}  



h1{
  font-size: 54px;
  margin: 0 ;
}

h2{
  margin: 16px 0 8px;
}

h3{
  margin: 0 0 8px;

}

p{
  margin: 0 0 4px;
}


.overlay--splash{
  background-image: url(images/cat-bg.png);
}

.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-font-smoothing: antialiased;

  color: #263238;

  font-family: 'Do Hyeon', sans-serif;

  background-color: var(--primary);
}

.key{
  border: 1px solid var(--primary-dark);
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin: var(--key-gap);
  text-transform: uppercase;
  display: block;
  background-color: var(--primary-light);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.6), 0 8px 6px -8px rgba(0, 0, 0, .4) inset;
}

.key--wide {
  width: 120px;
  margin: 0 auto;
}


.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.controls__group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
}

.controls__group--arrows{
  font-size: 22px;
}

.controls__group .key:first-child {
  margin: 0 80px var(--key-gap);
}